<div class="app-title">
  <div>
    <h1><i class="fa fa-users"></i> Butir</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item" data-toggle="tooltip" title="{{ versi.nama ~ ' (' ~ versi.tahun ~ ')' }}" style="cursor: pointer;" onclick="window.location = '{{ base_url() }}versi'">Standar Akreditasi</li>
    <li class="breadcrumb-item" data-toggle="tooltip" title="{{ standar.nomor ~ '. ' ~ standar.nama }}" style="cursor: pointer;" onclick="window.location = '{{ base_url() }}standar/index/{{ versi.id }}'">Standar</li>
    <li class="breadcrumb-item" data-toggle="tooltip" title="{{ substandar.nomor ~ '. ' ~ substandar.nama }}" style="cursor: pointer;" onclick="window.location = '{{ base_url() }}substandar/index/{{ standar.id }}'">Substandar</li>
    <li class="breadcrumb-item">Butir</li>
  </ul>
</div>
